* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  grid-template-areas:
    "menu"
    "buscador"
    "contenido"
    "fin";
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px calc(100vh - 100px - 100px - 100px) 100px;
  min-height: 100vh;
}

nav {
  grid-area: menu;
  background-color: rgb(1, 87, 155);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 5rem;
  font-size: 1.25rem;
  height: 100%;
}
.icon-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.barramenu {
  display: none;
}

button {
  background-color: rgb(1, 87, 155); /* Color de fondo inicial */
  color: white; /* Color de texto */
  padding: 5px 10px; /* Tamaño del botón */
  border: none; /* Sin bordes adicionales */
  border-radius: 10px; /* Bordes redondeados */
  font-size: 10px; /* Tamaño de la letra */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

button:active {
  background-color: rgb(1, 47, 107); /* Color al hacer clic */
}

.search {
  grid-area: buscador;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(226, 226, 226);
  height: 100%;
}
.barra-busqueda p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.barra-busqueda #food {
  text-align: center;
  font-size: 1rem;
  width: 25rem;
  height: 2rem;
}

.dashboard {
  grid-area: contenido;
  background-color: white;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrusel {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  padding: 20px;
}
.card {
  text-align: center;

  /*border: 2px solid black; */
  border: 2px solid black;
  padding: 3px;
}
.imagen {
  width: 190px;
}
.imagen img {
  width: 100%;
  /*border-bottom: 1px solid black; */
}
.comprar {
  background-color: white;
  /*border-top: 1px solid black; */
  padding: 5%;
}
.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.back {
  border: 1px solid black;
  padding: 0.1rem 0.3rem;
}
.bt1 {
  border: 1px solid black;
  padding: 0.1rem 0.5rem;
}
.bt2 {
  border: 1px solid black;
  padding: 0.1rem 0.5rem;
}
.bt3 {
  border: 1px solid black;
  padding: 0.1rem 0.5rem;
}
.forward {
  border: 1px solid black;
  padding: 0.1rem 0.3rem;
}

footer {
  grid-area: fin;
  background-color: rgb(1, 47, 107);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.rrss {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.footer2 p {
  margin: 0;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  body {
    grid-template-areas:
      "menu menu"
      "buscador contenido"
      "fin fin";
    grid-template-columns: 130px calc(100vw - 130px);
    grid-template-rows: 100px calc(100vh - 100px - 100px) 100px;
    min-height: 100vh;
  }
  .icon-menu h1 {
    font-size: 20px;
  }
  .opciones {
    display: none;
  }
  .barramenu {
    display: flex;
    flex-direction: row;
  }
  .barramenu ul {
    display: flex;
    gap: 1rem;
  }
  .barramenu li {
    list-style: none;
    font-size: 15px;
  }

  .search {
    align-items: start;
    padding-top: 30px;
  }
  .barra-busqueda p {
    font-size: 15px;
  }
  .barra-busqueda #food {
    width: 7rem;
    height: 1.5rem;
    font-size: 10px;
  }

  .carrusel {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem 5vw;
    padding-top: 70px;
  }
}

@media (min-width: 992px) {
  body {
    grid-template-areas:
      "menu buscador"
      "menu contenido"
      "fin contenido";
    grid-template-columns: 250px calc(100vw - 175px);
    grid-template-rows: 75px calc(100vh - 75px - 100px) 100px;
    min-height: 100vh;
  }
  nav {
    flex-direction: column;
    justify-content: start;
    padding-top: 25px;
    padding-right: 40px;
  }
  .icon-menu h1 {
    font-size: 18px;
    text-align: center;
  }

  .barramenu {
    padding-top: 15px;
  }
  .barramenu ul {
    flex-direction: column;
    align-items: start;
  }

  .search {
    padding-top: 8px;
  }
  .barra-busqueda p {
    font-size: 18px;
  }
  .barra-busqueda #food {
    width: 30rem;
    height: 1.7rem;
    font-size: 17px;
  }

  .carrusel {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem 1vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .imagen {
    width: 175px;
  }

  .rrss {
    font-size: 20px;
  }
  .footer2 p {
    font-size: 15px;
  }
}
